<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mindbreak</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | relative_url }}">



</head>
<body class="mindbreak">
  <div class="hero-background"></div>
  <div class="header-wrapper">
    <div class="header-content">

      <div class="game-logo">
          <img src="{{ '/assets/img/mindbreak_logo.png' | relative_url }}" alt="Mindbreak Logo">
        </div>
        
      <video autoplay muted loop playsinline>
        <source src="{{ 'assets/video/trailer.mp4' | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <div class="custom-steam-widget">
        <h2>Mindbreak</h2>
        <div class="steam-widget-body">
          <img src="{{ '/assets/img/mindbreak_maincapsule.jpg' | relative_url }}" alt="Game Capsule" class="steam-game-img">
          <div class="steam-widget-info">
            <p class="steam-game-description">
              Mindbreak is a tile-based puzzle adventure game about the escape from an insane asylum. The player uses puzzle solving skills in combination with the supernatural abilities of the characters to explore the vast insane asylum, and discover the means of escaping.
            </p>
            <div class="steam-systems">
              <span class="steam-system">Windows</span>
              <span class="steam-system">Mac</span>
            </div>
          </div>
        </div>
      </div>

      <div class="call-to-action">
        <span class="release-text">Available: 2026</span>
        <a href="#" class="wishlist-button">Wishlist on Steam</a>
      </div>
      
      <div class="credits">
        <p class="credits-text">A GAME BY</p>
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/img/lostumbrella_logo_icon.png' | relative_url }}" alt="Lost Umbrella Logo" class="credits-logo">
        </a>
        <!-- <a href="/presskit" class="presskit-button">PRESS KIT</a> -->
      </div>
    </div>
  </div>
</body>

  
